<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
      <a class="navbar-brand" href="#">Authentication</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
  <li><a href="/logout">Logout!</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <h1>The secrete route is here</h1>

    <img src="https://images.unsplash.com/photo-1501746877-14782df58970?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a14f9a9c2a7c31746adc27bd2164e4a5&auto=format&fit=crop&w=500&q=60" alt="fruit" />
     <img src="https://images.unsplash.com/photo-1497415717352-4493b50879f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aac8b20f4141964cd0fcecb1adff30c4&auto=format&fit=crop&w=500&q=60" alt="fruit" />
      <img src="https://images.unsplash.com/photo-1501171901942-5e8b5c41d6e1?ixlib=rb-0.3.5&s=6271ec0179b9e529978642723188ee59&auto=format&fit=crop&w=500&q=60" alt="fruit" />
























</body>
</html>